@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap');

:root{
    --primary_color:#2D9CDB;
    --secondary_color: #E0E0E0;
    --header-color: #333333;
    --sub-head-color:#4F4F4F;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    
}


a{
    text-decoration: none;
    color: var(--header-color);
}

.heading{
    font-size: 48px;
    color: var(--header-color);
    padding:24px 0;
    line-height: 1.2;
}


.navigation{
    width: 100%;
    
    
    .nav-container{
        display: flex;
        align-items: center;
        padding: 0 2%;
        height:50px;
       
       
       
    
        .logo{
            margin-right: auto;
            font-family:'Heebo', sans-serif;
            font-weight:800;
        }

        .nav-list{

            .menu{
                display: none;
            }
            .nav{
                display: flex;

                .exit, .menu{
                    display: none;
                }

                .primary-nav{
                    display: flex;
                    list-style: none;

                    .nav-item{
                        margin: 0 24px;
                        font-weight: bold;
                        transition: border-bottom 1s ease;

                        &:hover{
                            border-bottom: 3px solid hsl(248, 35%, 8%);
                        }
                    }

                  

                   
                }
            }
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    .hero{
        .move-right{
            margin: 0 17vw;
        }
        color: var(--header-color);
        .color_mod{
            font-size: 24px;
            color: var(--primary_color);
            font-weight: bold;
        }

        .hero-img-container{
            display: flex;
            width: 100%;
            box-sizing: border-box;
            .hero-image{
                margin: auto;
                width: 95%;
                border-radius: 10px;
            }
        }

        .lower-heading{
           
            .desc{
                max-width: 390px;
                margin-bottom: 2.5em;
            }

            .cta_illustrator{
                margin-bottom: 1em;
            }

            .input_box{
                background: var(--secondary_color);
                max-width: 350px;
                width: 70vw;
                height: 32px;
                padding: .6em 0 .6em .6em;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;

                .input{
                    width:150%;
                    font-size: 21px;
                    border: none;
                    outline: none;
                    background:var(--secondary_color);
                    color: var(--sub-head-color);
                    flex: 1;
                    
                }

                .join_btn{
                    padding: 1em;
                    margin-top: -.8em;
                    width: 100px;
                    height: 53px;
                    border-radius: 12px;
                    border: none;
                    color:#f2f2f2;
                    font-weight: bold;
                    background: var(--primary_color);
                    float: right;
                }
            }
        }
    }


    .after-hero{
        overflow: hidden;
        margin: 15vh 10vw;

        .services{
           
            .service-flex{
                display: flex;
                justify-content: space-between;
                gap: 3em;
                

                .services_block{
                    width:100%;
                    max-width: 330px;
                    padding: 2em;
    
                    .edit{
                        background: var(--primary_color);
                        width: 60px;
                        padding: 1em;
                        border-radius: 16px;
                    }
    
                    .green{
                        background: #27AE60;
                    }
    
                    .red{
                        background: #EB5757;
    
                    }
                }
    
                .services_block:hover{
                    .service_cta{
                        background: var(--primary_color);
                        color: #f2f2f2;
    
                    }
                }
                
                .front_end{
                    box-shadow: 2px 5px 10px 1px var(--secondary_color);            
                    border-radius: 15px;
                }
    
                .service_cta{
                    padding: .9em;
                    border-radius: 10px;
                    width: 120px;
                    height: 50px;
                    white-space: nowrap;
                    background:var(--secondary_color);
                    border: none;
                    color: #828282;
                    margin-top: .8em;
                    font-weight: bold;
                    transition: all 200ms ease-in-out;
                    
                }

            }

           
        }

        .our-works{
            margin: 15vh 0;
            overflow: hidden;
            max-width: 1600px;


            .works-img-container{
                display: grid;
                grid-template-columns: auto  auto;
                grid-template-rows: auto  auto;
                gap: 1em;
               // max-width: 1700px;

                .position{
                    margin-bottom: 3em;
                }

                .move_up{
                    margin-top: -7em;

                }

                .img_box{
                    line-height: .1;

                    .frame_mod{

                        img{
                            width: 100%;
                            max-width: 800px;
                            border-radius: 10px;
                        }
                    }

                    .work_desc{
                        font-size: 16px;
                        color: var(--sub-head-color);
                        
                    }

                    .title{
                        font-size: 24px;
                        color: var(--header-color);
                    }
                }
            }

            .more{
                float: right;
                margin-top: -3em;
                color: var(--primary_color);
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
            }

        }

        .team_page{
            overflow: hidden;
            margin: 15vh 0;

            .team_container{
                display: flex;
                justify-content: space-between;
                gap: 3em;
                align-items: center;

                .header_contain{
                  
                    .sub_head{
                        color: #EB5757;
                        font-size: 24px;
                        margin: 0 auto;
                    }

                    .middle-margin{
                        margin: 0 auto;
                        padding: 10px 0;
                    }

                    
                    .desc{
                        font-size: 24px;
                        color: var(--sub-head-color);
                        margin: 0 auto;
                    }
                }

                .team_img_container{

                    .team_img_list{
                        display: grid;
                        grid-template-columns:auto 10px auto;
                        grid-template-rows:auto 10px auto 10px auto 10px auto;

                        .person3{
                            grid-row: 3/6;
                            grid-column: 1/2;
                        }

                        .person1{
                            grid-column: 3/4;
                            grid-row: 1/4;
                        }
                        .person2{
                            grid-column: 3/4;
                            grid-row: 5/8;
                        }

                        .person{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        .client_section{
            overflow: hidden;

            .client_container{
            
                blockquote{
                    font-size: 28px;
                    width: 75%;
                    font-weight: 700;
                    color: var(--header-color);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 42px 0;
                }


                .client_profile{
                    display: flex;
                    gap: 4em;
                    .client_img{
                        width: 50px;
                        img{
                            width: 100px;
                            border-radius: 10px;
                        }
                    }
                    .client_details{
                        line-height: .2;
                        .name{
                           font-size: 24px;
                          // margin-bottom: 0;
                           color: var(--header-color);
                            
                        }

                        .desc{
                            color: var(--sub-head-color);
                        }
                        
                    }
                }
            }
        }
    }
}

.footer{
    background: #100E1D;
    min-height: 30vh;
    width: 100%;
    overflow: hidden;

    .footer_container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
       
         .footer_nav{
             list-style-type: none;
             padding: 0;

             a{
                 text-decoration: none;
                 color: #f2f2f2;
             }

             li{
                 padding: .5em 0;
                 font-size: 1.2rem;
             }
         }

         .footer_logo{
             margin: 4em 0;
             
             .logo{
                 color: #f2f2f2;
                 margin-bottom: .3em;
                 font-family:'Heebo', sans-serif;
                 font-weight:800;
            
             }
         }

         .footer_cta{
            .cta_illustrator{
                margin-bottom: 1em;
            }

            .input_box{
                background: var(--secondary_color);
                max-width: 350px;
                width: 70vw;
                height: 32px;
                padding: .6em 0 .6em .6em;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;

                .input{
                    width:150%;
                    font-size: 21px;
                    border: none;
                    outline: none;
                    background:var(--secondary_color);
                    color: var(--sub-head-color);
                    flex: 1;
                    
                }

                .join_btn{
                    padding: 1em;
                    margin-top: -.8em;
                    width: 100px;
                    height: 53px;
                    border-radius: 12px;
                    border: none;
                    color:#f2f2f2;
                    font-weight: bold;
                    background: var(--primary_color);
                    float: right;
                }
             }

         }
     }

     .credit{
         margin-top: 6em;
         padding: 0 .5em;
         color: #B9BDCF;
         font-size: .8rem;
         font-family: 'Montserrat', sans-serif;
         font-weight: 700;
         white-space: nowrap;
         text-align: center;

         .links{
             color: #B9BDCF;
             font-size: .9rem;
             font-weight: 700;
             text-decoration: none;

         }
     }

}

@media (max-width:1250px) {

body{
    font-size: 18px;
}

.heading{
    font-size: 32px;
    color: var(--header-color);
    padding:24px 0;
    line-height: 1.2;
}

}


@media (max-width:980px) {

    .after-hero{
        .services{
            .service-flex{
                flex-direction: column;
            }
        }
    }

}

@media (max-width:820px){

    .heading{
        font-size: 24px;
       
    }

    .off-overflow{
        overflow: hidden;
    }

    a{
        color:#fff;
        font-size: 21px;
        font-weight: bold;
    }

    .navigation{
        width: 100%;
       
        
        .nav-container{
            //display: flex;
            //align-items: center;
            padding: auto;
            overflow: hidden;
           
    
            .nav-list{

                .menu{
                    display: block;
                    width: 35px;
                    margin-top: -.5em;
                    cursor: pointer;
                }
                .nav{
                    display:flex;
                    flex-direction: column;
                    background: transparentize($color:#37a3e2, $amount: .2);
                    backdrop-filter: blur(1rem);
                    position:absolute;
                    right: 0;
                    top:0;
                    width: 50vw;
                    height: 100vh;
                    padding: 0;
                    transition: transform 1s ease;
                    transform: translateY(-100%);
                    z-index: 4;
                   
                    
    
                    .exit{
                        display: block;
                        width: 35px;
                        margin-top: .6em;
                        margin-left:auto;
                        padding-right: 1.5em;
                        padding-top: 1em;
                        cursor: pointer;
                    }

                    
    
                    .primary-nav{
                        display: block;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        
                       
                        
                        .nav-item {
                            font-weight: bold;
                            margin: 2em 0;
                            padding: 1em 2em;
                            transition: all .5s ease;
                            
                        }
                        

                        .nav-item:hover{
                            display: block;
                            width: 100vw;
                            border: none;
                            //background: #5d79885d;
                            background: linear-gradient(-60deg,#828282, #37a3e2, #E0E0E0 );
                           
                        }

                       
                    }
                }

                .open_nav{
                    transform: translateY(0);
                }

               

               
            }
        }
    }

    .main{
        .after-hero{
            .our-works{
                .works-img-container{
                   display: flex;
                   flex-direction: column;

                   .img_box{
                    .title{
                        font-size: 16px;
                        
                    }
                   }

                    .position{
                        margin-bottom:0;

                       
                    }

                    .move_up{
                        margin-top: 0;

                    }
                }

                .more{
                    margin-top: 2em;
                    float: left;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                   
                }
            }

            .team_page{
    
                .team_container{
                    flex-direction: column;
    
                    .header_contain{
                      
                       align-self: flex-start;
                    }

                    .team_img_container{
                        align-self: flex-end;
                    }
                }
            }

            .client_section{
                .client_container{
                    blockquote{
                        font-size: 25px;
                    }

                    .client_profile{
                        .client_details{
                            line-height: .2;
                            .name{
                               font-size: 18px;
                                
                            }

                            .desc{
                                font-size: 14px;
                            }
                        }

                    }

                    
                }
            }
        
        }

       

    }
    
    .footer{
        .footer_container{
            flex-direction: column;
           
           
        }
    }
}

