@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    &:before{
        box-sizing: border-box;
        
    }
    &:after{
        box-sizing: border-box;
    }
}

:root{
    --primary_color:#2D9CDB;
    --secondary_color: #E0E0E0;
    --header-color: #333333;
    --sub-head-color:#4F4F4F;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    


    .header{
        .header_container{
            display: flex;
            justify-content: space-between;

            .logo h1{
                margin: 0;
                padding: .3em;
                font-family:'Heebo', sans-serif;
                font-weight:800;
                color: var(--header-color);
            }

            .nav_bar{
                .menu{
                    width: 1.5em;
                    margin: 1.2em;
                    cursor: pointer;
                }
                .nav{
                    //display: none;
                    transform: translateX(100%);
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 999;
                    background:#100E1D;
                    width: 60%;
                    height: 100%;
                    margin:0;
                    padding:1em 0; 
                   

                    .exit{
                        float: right;
                        width: 1.5em;
                        margin-right: .8em;
                    }

                    .primary_nav{
                        list-style-type: none;
                        margin: 5em 0;
                        li{
                            padding:2em .5em;
                            text-align: left;
                            white-space: nowrap;

                            a{
                                color: white;
                                text-decoration: none;
                                font-weight: bold;
                                transition: all 200ms ease-in-out;
                            }

                            a:hover{
                                text-decoration: underline;
                                
                            }

                            
                        }

                    

                    }
                   
                   
                      
                }

                .open_nav{
                    transition: all 300ms ease-in-out;
                }

                .open_nav{
                    //display: block;
                    transform: translateX(0%);
                }
                
            }

        }
    }

    .main{
        .hero{
            .hero_container{
                .heading{
                    margin:1em 0 .5em 1.2em;
                    font-size: 1.4rem;
                    width: 250px;
                    color: var(--header-color);
                    .color_mod{
                        font-size: .8rem;
                        color: var(--primary_color);
                        font-weight: bold;
                    }
                }
               

                .hero_image{
                    width:95%;
                    border-radius: 10px;
                    margin: 0 .7em;
                }

                .down{
                    margin:.5em 0 0 1.3em;

                }

                .sub_heading{
                    min-width:210px;
                    margin:1.5em 0 0 1.5em;
                    font-size: 1.1rem;
                    color: var(--sub-head-color);

                }

                .hero_cta{
                    margin:2em 0 0 1.8em;

                    .cta_illustrator{
                        font-size: 1rem;
                        margin-bottom: .5em;

                    }

                    .input_box{
                        background: var(--secondary_color);
                        max-width: 350px;
                        width:75vw;
                        height: 45px;
                        border-radius: 10px;
                        padding: .5em;
    
                        .input{
                            padding: .6em;
                            width:40vw;
                            max-width: 190px;
                            border: none;
                            outline: none;
                            background:var(--secondary_color);
                            color: var(--sub-head-color);
                            
                        }
                        .join_btn{
                            padding: .5em;
                            margin-top: -.5em;
                            margin-right: -.5em;
                            width: 84px;
                            height: 42px;
                            border-radius: 12px;
                            border: none;
                            color:#f2f2f2;
                            font-weight: bold;
                            background: var(--primary_color);
                            float: right;
                        }
                    }

                }

                

                
            }
        }

        .services{
            margin: 6em 0 0 2.2em;

            .services_container{

                .heading{
                    font-size: 1.4rem;
                    width: 210px;
                    margin-bottom: 2em;
                    color: var(--header-color);
                }

                .services_block{
                    width:85vw;
                    max-width: 290px;
                    margin-left: -2em;
                    margin-bottom: 2em;
                    padding: 2em;

                    .edit{
                        background: var(--primary_color);
                        width: 60px;
                        padding: 1em;
                        border-radius: 16px;
                    }

                    .green{
                        background: #27AE60;
                    }

                    .red{
                        background: #EB5757;

                    }
                }

                .services_block:hover{
                    .service_cta{
                        background: var(--primary_color);
                        color: #f2f2f2;

                    }
                }
                
                .front_end{
                    box-shadow: 2px 5px 10px 1px var(--secondary_color);            
                    border-radius: 15px;
                }

                .service_cta{
                    padding: .9em;
                    border-radius: 10px;
                    width: 120px;
                    height: 50px;
                    white-space: nowrap;
                    background:var(--secondary_color);
                    border: none;
                    color: #828282;
                    margin-top: .8em;
                    font-weight: bold;
                    transition: all 200ms ease-in-out;
                    
                }



            }
        }

        .our_works{
            margin: 6em 0 0 1.8em;

            .our_works_container{

                .heading{
                    font-size: 1.4rem;
                    width: 300px;
                    margin-bottom: 2em;
                    color: var(--header-color);

                }

                .works_img_container{
                    margin-left: -1em;

                    .img_box{
                        width: 90vw;
                        max-width: 400px;
                        width: 300px;
                        height:330px ;
                        max-height: 450px;
                        margin-bottom: 4em;

                        .img_frame1{
                            background: url(../edie-homepage-master/smarthome.jpg);
                        }
                        .img_frame2{
                            background: url(../edie-homepage-master/onboard.png);
                        }
                        .img_frame3{
                            background: url(../edie-homepage-master/booking.png);
                        }
                        .img_frame4{
                            background: url(../edie-homepage-master/juice-product.png);
                        }

                        .frame_mod{
                            background-repeat: no-repeat;
                            background-size: cover;
                            width:85vw;
                            max-width: 400px;
                            height: 300px;
                            border-radius:15px;
                            
                        }

                        .title{
                            margin-top:-.8em;
                            font-size: 1.2rem;
                            color: var(--header-color);
                        }

                    }

                   
                }

                .more{
                    font-size: 1.2rem;
                    margin-left: -1em;
                    padding-top: .5em;
                    
                    color: var(--primary_color);

                    .arrow{
                        margin-bottom: -.4em;
                        margin-left: .5em;
                    }
                }
            }

        }


        .team_page{
            margin: 6em 0 0 1em;
           
            .team_container{
            
                .sub_head{
                    color: #EB5757;
                    font-size: 1rem;
                }
                .heading{
                    font-size: 1.4rem;
                    margin: -.1em 0;
                    color: var(--header-color);
                }
                .desc{
                    font-size: 1.1rem;
                    margin-top: 1em;
                    color: var(--sub-head-color);
                }

                .team_img_container{
                    //width:85vw;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 10em;

                    .team_img_list{
                        display: grid;
                        grid-template-columns:auto 10px auto;
                        grid-template-rows:auto 10px auto 10px auto 10px auto;
                        
     
                        .person3{
                            grid-row: 3/6;
                            grid-column: 1/2;
                        }

                        .person1{
                            grid-column: 3/4;
                            grid-row: 1/4;
                        }
                        .person2{
                            grid-column: 3/4;
                            grid-row: 5/8;
                        }

                        .person{
                           max-width: 160px;
                          width: 40vw;
                           border-radius: 12px;
                        }
     
                     }

                }

                
            }

        }

        .client_section{
            .client_container{
                blockquote{
                    margin: 0 .8em;
                    padding: 1em 0;
                    font-size: 1.3rem;
                    font-weight: bold;
                    max-width: 500px;
                    color: var(--header-color);
                }

                .client_profile{
                    margin: 1em 1em;
                    display: flex;
                    width: 258px;
                    justify-content: space-between;
                    .client_img{
                        width: 75px;
                        height: 75px;
                        border-radius: 10px;      
                    }
                    .client_details{
                        .name{
                           font-size: 1.1rem;
                          // margin-bottom: 0;
                           color: var(--header-color);
                            
                        }

                        .desc{
                            font-size: 1rem;
                            margin-top:-1em;
                            color: var(--sub-head-color);
                        }
                        
                    }
                }
            }

        }
    }

    .footer{
        background: #100E1D;
        margin-top: 6em;
        width: 100vw;

        .footer_container{
            padding: 1em 2em ;

            .footer_nav{
                list-style-type: none;
                padding: 0;

                a{
                    text-decoration: none;
                    color: #f2f2f2;
                }

                li{
                    padding: .5em 0;
                    font-size: 1.2rem;
                }
            }

            .footer_logo{
                margin: 4em 0;
                .logo{
                    color: #f2f2f2;
                    margin-bottom: .3em;
                    font-family:'Heebo', sans-serif;
                    font-weight:800;
               
                }
            }

            .footer_cta{
                .cta_illustrator{
                    margin-top: 3em;
                    color: #f2f2f2;
                    font-size:.8rem;
                }
                .input_box{
                    background: var(--secondary_color);
                    max-width: 350px;
                    width:75vw;
                    height: 45px;
                    border-radius: 10px;
                    padding: .5em;

                    .input{
                        padding: .6em;
                        width:40vw;
                        max-width: 190px;
                        border: none;
                        outline: none;
                        background:var(--secondary_color);
                        
                    }
                    .join_btn{
                        padding: .5em;
                        margin-top: -.5em;
                        margin-right: -.5em;
                        width: 84px;
                        height: 42px;
                        border-radius: 12px;
                        border: none;
                        color:#f2f2f2;
                        font-weight: bold;
                        background: var(--primary_color);
                        float: right;
                    }
                }

            }
        }

        .credit{
            margin-top: 6em;
            padding: 0 .5em;
            color: #B9BDCF;
            font-size: .8rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            white-space: nowrap;
            text-align: center;

            .links{
                color: #B9BDCF;
                font-size: .9rem;
                font-weight: 700;
                text-decoration: none;

            }
        }

    }

}

@media only screen and (min-width:450px) {

    body{
        .main{
            .hero{
                .hero_container{
                    .heading{
                        font-size: 2.2rem;
                        width: 400px;
                        .color_mod{
                            font-size: 1.1rem;
                        }
                    }

                    .sub_heading{
                        width:400px;
                        margin-left:3.5em;
                        font-size: 1.3rem;
                        //color: var(--sub-head-color);
    
                    }
                    .hero_cta{
                        margin-left: 4.5em;
                    }
                }
            }

            .services{
                margin-left: 4.5em;
            }

            .our_works{
                margin-left: 4.5em;
            }

            .team_page{
                margin-left: 3em;
            }

            .client_section{
                padding-top: 2em;
                margin-left: 3em;
            }
        }

        .footer{

            .credit{
                font-size: 1.2rem;
                
    
                .links{
                    font-size: 1.2rem;
    
                }
            }

        }
    }

       
    
}


@media only screen and (min-width:750px) {

    body{
        .main{
            .hero{
                .hero_container{
                    .heading{
                        margin-left: 4em;
                        font-size: 3rem;
                        width: 550px;
                        .color_mod{
                            font-size: 1.1rem;
                        }
                    }

                    .sub_heading{
                        width:400px;
                        margin-left:8em;
                        font-size: 1.5rem;
                        //color: var(--sub-head-color);
    
                    }
                    .hero_cta{
                        margin-left: 12em;
                    }
                }
            }

            .services{
                margin-left: 12em;
            }

            .our_works{
                margin-left: 12em;
            }

            .team_page{
                margin-left: 10em;
            }

            .client_section{
                padding-top: 5em;
                margin-left: 8em;
            }
        }
    }

       
    
}

@media only screen and (min-width:900px){
    body{
        .header{

            .header_container{
                display: grid;
                grid-template-columns: 120px 520px;

                

                .nav_bar{
                    .menu{
                        display: none;
                       
                    }
                    .nav{
                        transform:unset;
                        position: unset;
                        right:auto;
                        top: auto;
                        background:none; 
                        width: 100%;
                        height: auto;
                        margin:0;
                        padding:0;
                        display: flex;
                        

                        .exit{
                            display: none;
                        }

                        .primary_nav{
                            margin:0;
                            display: flex;
                            justify-content: space-between;
                            li{
                                padding:1em;
                                text-align:unset;
                                margin-top: .3em;
    
                                a{
                                    color:var(--header-color);
                                    
                                }
                            }
    
                        }
                    }
                }
            }

        }

        
    }

}

@media only screen and (min-width:1020px) {
    body{
        .main{
            .services{
                .services_container{
                    .service_flex{
                        display: flex;
                        justify-content: space-between;
                        max-width: 1150px;
                       

                    }
                }
            }

            .our_works{
                .our_works_container{
                    margin-top: 10em;
                    .works_img_container{
                            display: grid;
                            grid-template-columns: 280px 140px 280px;
                            grid-template-rows: 280px 290px 280px;
                            margin-top: 9em;

                            .img_box{
                                
                               .frame_mod{
                                height: 400px;
                               }

                            }
                        
                            .img_box1{
                                grid-row: 1/2;
                                grid-column: 1/2;
                            }

                            .img_box2{
                                grid-row: 1/2;
                                grid-column: 3/4;
                            }

                            .img_box3{
                                grid-row: 3/4;
                                grid-column: 1/2;
                            }

                            .img_box4{
                                grid-row: 3/4;
                                grid-column: 3/4;
                            }

                            .move_up{
                                margin-top: -8em;
                            }
                    }

                    .more{
                        margin-left: 35em;
                        margin-top: 8em;
                    }
                    
                }
            }

            .team_page{
                .team_container{
                    margin-top: 15em;
                    display: flex;
                    justify-content: space-between;
                    max-width: 700px;

                    .header_contain{
                        .sub_head{
                            font-size: 1.2rem;
                        }
                        .heading{
                            font-size: 1.8rem;
                        }
                        .desc{
                            font-size: 1.2rem;
                        }



                    }

                    .team_img_container{
                        .team_img_list{
                            margin-top: -2em;
                        }
                    }
                }
            }

            .client_section{
                .client_container{
                    blockquote{
                        //font-size: 1.5rem;
                    }
                }
            }
        }

        .footer{
            .footer_container{
                display: flex;
                justify-content: space-around;
            }
        }

    }
    
}